.wrapper
  = render partial: "partials/side_bar"

  .chat
    .header
      .current-group
        .current-group__name
          Chat-Space
        .current-group__member-name
          Member: 小野寺 陸
      .edit-btn
        Edit
    .messages
    .form

